<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercise</title>
    <script src="scripts/NavBar.js" defer></script>


    <link rel="stylesheet" href="styles/style.css" />
</head>
<body>
  
    <div id="titulo">
        <h1>Exercise</h1>
    </div>


    <header id="navbar">
    <ul id="tabs">
        <li data-id="pos1"class="selected">Repositories</li>
        <li data-id="pos2" >post2</li>
        <li data-id="pos3">post3</li>
    </ul>
    </header>

    <div id="pos1">
        
        
        <a href="/repositories"><h1>Repositories</h1></a>
    </div>
    <div id="pos2" class="hidden">
        <h1>post2</h1>       
    </div>
    <div id="pos3" class="hidden">
        <h1>post3</h1>
    </div>

</body>
</html>