<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercise</title>
    <script src="scripts/NavBar.js" defer></script>


    <link rel="stylesheet" href="styles/style.css" />
</head>
<body>
  
    <div id="titulo">
        <h1>Exercise</h1>
    </div>


    <header id="navbar">
    <ul id="tabs">
        <li data-id="pos1"class="selected">Repositories</li>
        <li data-id="pos2" >post2</li>
        <li data-id="pos3">post3</li>
    </ul>
    </header>

    <div id="pos1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente earum, provident exercitationem autem non tempore mollitia similique molestiae nesciunt ex consectetur veritatis aliquam repellendus molestias facere voluptatum distinctio! Vel, placeat?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse harum inventore suscipit architecto, repellat perferendis repudiandae molestiae. Error laudantium alias nihil aut voluptates magnam magni consectetur, velit eum suscipit veniam?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias aliquid quod, asperiores, numquam fuga autem eveniet in corrupti sit quia quas consequuntur, ipsa quos quis provident ipsum laboriosam eos. Sequi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, tempora saepe ratione corrupti qui blanditiis beatae quas ea accusamus commodi quia ipsa vitae, nobis sint veritatis aliquam odio? Iste, esse?</p>
    <div id='link'><a href="/repositories">Repositories</a></div>
    </div>

    <div id="pos2" class="hidden">
        <h1>post2</h1>       
    </div>
    <div id="pos3" class="hidden">
        <h1>post3</h1>
    </div>

</body>
</html>