#tabs li{
    display: inline-block;
    padding: 1.5em;
    cursor: pointer;
    color: bisque;
    

}

ul{
    background-color: rgb(0, 0, 0);
    margin: 0;
}

li:hover{
    background-color: rgb(36, 96, 151); 
}

#navbar{
    margin: 0;
}

.hidden{
    display: none;
}
.selected{
    background-color:rgb(36, 96, 151); 
    
}

#titulo{
    text-align: center;   
    margin: 0;
}
h1{
    font-family: Courier;
}
html {

    background: url("https://img.webme.com/pic/w/webcp/bge01.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#data-repositoties{
    width: 30em;
    height: 20em;
    margin: auto;
    

     
     
    
}

#data-repositoties div{
    width: 45em;
    height: 15em;
    margin: 1em -8em;
    border: 1px solid black; 
    border-radius: 25px;
    display: inline-block;
    background-color: rgba(197, 168, 168, 0.452);
    
  
    
}
#data-repositoties img{
    float:left; 
    margin:10px
}